doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .topic= "Registration"
        form#regform
            input(type="text" id="username" autocomplete="off" placeholder="Username") 
            input(type="password" id="password" autocomplete="off" placeholder="Password")
            input(type="submit" id="submit" value="Submit form")
        br
        button(onclick=`location.href = '`+loginUrl+`';` id="redirectButton")= 'Redirect me to Login'

        script. 
            const form = document.getElementById('regform');
            form.addEventListener('submit', registerUser)

            async function registerUser(event){
                event.preventDefault()
                const username = document.getElementById('username').value
                const password = document.getElementById('password').value

                const result = await fetch('/api/register', {
                    method: 'POST',
                    headers: {
                        'Content-type' : 'application/json'
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                }).then((res)=> res.json())
                console.log(result)
            }


            