doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Settings
  link(rel="icon" href="/csspublicresource/webicon.png")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap' rel='stylesheet')
  style 
    include ./styles/style-forum.css
    include ./styles/style-setting.css
header
  // NavBar Section
  .navbar
    nav#navigation.navigation.hide
      span#close-icon.close-icon(onclick='showIconBar()')
        i.fa.fa-close
      ul.nav-list
        li.nav-item
          a(href='./forums') Forums
        //- li.nav-item
        //-   a(href='./posts') Posts
        li.nav-item
          a(href='./setting') Setting
    a#iconBar.bar-icon(onclick='hideIconBar()')
      i.fa.fa-bars
    .brand Stargazers
    .loginName= "Welcome "+username+"!"
  // SearchBox Section
  .search-box
    div
      select(name='' id='')
        option(value='Everything') Heated News
        option(value='Titles') Education
        option(value='Descriptions') Films and movies
      input(type='text' name='q' placeholder='search ...')
      button
        i.fa.fa-search
  .backgroundUpload
    h2= 'upload your background image file here ↓ ↓ ↓'
    form(method='POST' action="/" enctype="multipart/form-data" id="imgform")
      input(type='file' name='file' id="bgFile")
      input(type='submit' value='Upload' id="imgSubmitted")
    h3= 'you Current background image:'
    .previewimgwrap
      img(src="", alt="no profile picture uploaded yet" id="showCurrentImg")
  footer
    span
script(type='text/javascript' src='src/forumStyleControl.js')
script.
  const showCurrentImg = document.getElementById("showCurrentImg")
  const form = document.getElementById('imgform');
  form.addEventListener('submit', imgSubmit)
  async function imgSubmit(event){
    event.preventDefault()
    // save iamge to database
    let bgFile = document.getElementById('bgFile');
    let data = new FormData()
    data.append('file', bgFile.files[0])
    fetch('/setBackgroundImage', {
      method: 'POST',
      body: data
    }).then((res) => res.json()).then(result=>{
      alert(result.status);
      renderBackgroundImage();
    })
    
  }

  async function renderBackgroundImage(){
    // render the image if exists
    const renderResult = await fetch('/getBackgroundImage', {
        method: 'POST',
        headers: {
            'Content-type' : 'application/json'
        }
    }).then((res) => res.json()).then(renderResult=>{
      if (renderResult.status!='not found pic'){
        showCurrentImg.src = renderResult.status
      }
    })
  }

  window.onload = function() {
    renderBackgroundImage();
  };




  //- let showCurrentImg = document.getElementById("showCurrentImg")
  //- const result = fetch('/getBackgroundImage', {
  //-     method: 'POST',
  //-     headers: {
  //-         'Content-type' : 'application/json'
  //-     }
  //- }).then((res) => res.json())
  //- if (result.status){
  //-   console.log(result.status)
  //- }

  //- function imgSubmit(){
  //-   const resultRedirect = fetch('/getBackgroundImage',{method: 'POST'})
  //-     .then(response => {
  //-       response.blob()
  //-       console.log(response)
  //-     })
  //-     .then(imageBlob => {
          
  //-         showCurrentImg.src = imageBlob
  //-     });
  //- }

