$mp3NameWidth: 110px;
$item_space: 80px;
// responsive vars
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}
// custom styles
@mixin inline-wrap {
    display: flex;
}
@mixin verticle-wrap{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}
@mixin blue-underline-box{
    border-bottom-color: blue;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-radius:  7px 7px 0px 0px;
}

*{
    font-family: Arial, sans-serif;
    color: black
}
body{
    background: lightgrey;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;

}
.useless{
    @include inline-wrap;
    justify-content: space-between;
    .useless-boxes{
      @include inline-wrap;
      align-items: center;
      justify-content: center;
      height: 100px;
      @include pc-width{
        width: 300px;
      }
      //平板
      @include pad-width{
        width: 150px;
      }
      //小平板
      @include small-pad-width{
        width: 80px;
      }
      //手機
      @include phone-width{
        width: 70px;
      }
      img.funnygif {
        max-width: 100%;
        max-height: 100%;
      }
    }
}
.category{
    @include inline-wrap;
    margin-top: 20px;
    justify-content: flex-start;
    .categoryName{
      @include blue-underline-box;
      padding: 10px;
      cursor: pointer;
      &:nth-child(1) {
        background-color: lightblue;
      }
      &:nth-child(2) {
        background-color: lightcyan;
      }
      &:nth-child(3) {
        background-color: #affb93;
      }
    }
}
.mp3infos-summary{
  font-weight: bold;
}
div[class^='mp3infos'], div[class*=' mp3infos']{
    @include inline-wrap;
    padding: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 7px;
    border-color: #b3b3b3;
    background-color: white;
    .mp3Name{
      margin-left: 10px;
      width: $mp3NameWidth;
    }
    .usage, .usageCount{
      //電腦版
      @include pc-width{
        margin-left: $mp3NameWidth + $item_space -50px;
      }
      //平板
      @include pad-width{
        margin-left: $mp3NameWidth + $item_space -100px;
      }
      //小平板
      @include small-pad-width{
        display: none;
      }
      //手機
      @include phone-width{
        display: none;
      }
    }
    audio, .soundEffect{
      height: 20px;
      //電腦版
      @include pc-width{
        margin-left: 150px;
      }
      //平板
      @include pad-width{
        margin-left: 150px;
      }
      //小平板
      @include small-pad-width{
        margin-left: 100px;
      }
      //手機
      @include phone-width{
        margin-left: 100px;
      }
    }

}

