* {
  font-family: Arial, sans-serif;
  color: black;
}

body {
  background: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.useless {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.useless .useless-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

@media all and (min-width: 960px) {
  .useless .useless-boxes {
    width: 300px;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .useless .useless-boxes {
    width: 150px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .useless .useless-boxes {
    width: 80px;
  }
}

@media all and (max-width: 479px) {
  .useless .useless-boxes {
    width: 70px;
  }
}

.useless .useless-boxes img.funnygif {
  max-width: 100%;
  max-height: 100%;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.category .categoryName {
  border-bottom-color: blue;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  cursor: pointer;
}

.category .categoryName:nth-child(1) {
  background-color: lightblue;
}

.category .categoryName:nth-child(2) {
  background-color: lightcyan;
}

.category .categoryName:nth-child(3) {
  background-color: #affb93;
}

.mp3infos-summary {
  font-weight: bold;
}

div[class^='mp3infos'], div[class*=' mp3infos'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 7px;
  border-color: #b3b3b3;
  background-color: white;
}

div[class^='mp3infos'] .mp3Name, div[class*=' mp3infos'] .mp3Name {
  margin-left: 10px;
  width: 110px;
}

@media all and (min-width: 960px) {
  div[class^='mp3infos'] .usage, div[class^='mp3infos'] .usageCount, div[class*=' mp3infos'] .usage, div[class*=' mp3infos'] .usageCount {
    margin-left: 140px;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div[class^='mp3infos'] .usage, div[class^='mp3infos'] .usageCount, div[class*=' mp3infos'] .usage, div[class*=' mp3infos'] .usageCount {
    margin-left: 90px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div[class^='mp3infos'] .usage, div[class^='mp3infos'] .usageCount, div[class*=' mp3infos'] .usage, div[class*=' mp3infos'] .usageCount {
    display: none;
  }
}

@media all and (max-width: 479px) {
  div[class^='mp3infos'] .usage, div[class^='mp3infos'] .usageCount, div[class*=' mp3infos'] .usage, div[class*=' mp3infos'] .usageCount {
    display: none;
  }
}

div[class^='mp3infos'] audio, div[class^='mp3infos'] .soundEffect, div[class*=' mp3infos'] audio, div[class*=' mp3infos'] .soundEffect {
  height: 20px;
}

@media all and (min-width: 960px) {
  div[class^='mp3infos'] audio, div[class^='mp3infos'] .soundEffect, div[class*=' mp3infos'] audio, div[class*=' mp3infos'] .soundEffect {
    margin-left: 150px;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  div[class^='mp3infos'] audio, div[class^='mp3infos'] .soundEffect, div[class*=' mp3infos'] audio, div[class*=' mp3infos'] .soundEffect {
    margin-left: 150px;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  div[class^='mp3infos'] audio, div[class^='mp3infos'] .soundEffect, div[class*=' mp3infos'] audio, div[class*=' mp3infos'] .soundEffect {
    margin-left: 100px;
  }
}

@media all and (max-width: 479px) {
  div[class^='mp3infos'] audio, div[class^='mp3infos'] .soundEffect, div[class*=' mp3infos'] audio, div[class*=' mp3infos'] .soundEffect {
    margin-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */