*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
body{
    background-image: url('/csspublicresource/register.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

}

.topic{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.loginWrap{
    height: 550px;
    width: 360px;
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 20px #0000008a;
    border-radius: 5px;
}

#regform{
    display: flex;
    flex-direction: column;
}

#regform > *{
    margin-top: 20px;
}

input{
    width: 280px;
    height: 35px;
    border-radius: 3px;
    padding: 3px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:0px solid #ccc;
}

#submit{
    width: 285px;
    height: 45px;
    background-color: rgb(161, 161, 255);
    font-size: x-large;
    color: white;
    font-weight: 600;
    border-color: transparent;
    cursor: pointer;
}

.acrequest{
    display: flex;
    flex-direction: row;
}

.acrequest > p {
    color: white;
    font-size: large;
}
.acrequest > a {
    color: rgb(161, 161, 255);
    text-decoration: none;
    margin-left: 10px;
}


