// responsive vars
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
*{
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: black
}
@mixin noDefaultAppearance ($value: none) {
  -webkit-appearance:     $value;
  -moz-appearance:        $value;
  -ms-appearance:         $value;
  -o-appearance:          $value;
  appearance:             $value;
  outline:                $value;
  outline-color: transparent;
  outline-style: none;
  resize: none;
}
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}
// custom styles
@mixin debug-box{
    border-style: solid;
    border-color: black;
}
@mixin inline-wrap {
    display: flex;
    flex-direction: row;
}
@mixin verticle-wrap{
    display: flex;
    flex-direction: column;
}
@mixin underline-box($underlineColor, $borderWidth: 2px){
    border-bottom-color: $underlineColor;
    border-width: 0px 0px $borderWidth 0px;
    border-style: solid;
}
@mixin upperline-box($upperlineColor, $borderWidth: 2px){
    border-bottom-color: $upperlineColor;
    border-width: $borderWidth 0px 0px 0px;
    border-style: solid;
}
@mixin chatText($bgcolor: white, $padding: 5px){
  padding: $padding;
  background-color: $bgcolor;
}
body{
    background: #C8A2C8;
    // @include inline-wrap();
    justify-content: space-between;
}
h1{
  text-align: center;
  margin: 5px;
}
.content-wrap{
  background: #8ac4f0;
    @include inline-wrap();
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#can{
  @include verticle-wrap;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  .user-name{
    margin: 5px;
    text-align: center;
  }
  canvas{
    border-style: double;
    border-width: 5px;
    border-color: white;
    background-image: url('https://wallpapercave.com/dwp2x/wp4785026.jpg');
    background-size: cover;
  }
}

.main-menu{
    @include verticle-wrap;
    @include debug-box;
    #setBackground{
      @include chatText;
    }
}
.text-chat-room{
    @include verticle-wrap;
    background-color: white;
    justify-content: space-between;
    border-radius: 5px;
    .showmsg{
      @include verticle-wrap;
      align-items: flex-start;
      justify-content: flex-start;
      .topic{
        @include chatText(rgb(223, 223, 223));
        @include underline-box(grey);
        width: calc(100% - 10px);
        
        text-align: center;
      }
      div[class^='msg'], div[class*=' msg']{
        @include chatText(palevioletred);
        border-radius: 5px;
        margin: 7px 1px 1px 1px;
      }
      div[class^='mymsg'], div[class*=' mymsg']{
        @include chatText(rgb(127, 184, 250));
        border-radius: 5px;
        align-self: flex-end;
        margin: 7px 7px 0px 7px;
      }
      .wrapMsg{
        @include chatText(rgb(4, 226, 226));
        border-radius: 5px;
        margin: 3px 3px 0px 7px;
      }
    }
    .chatWrap{
      @include verticle-wrap();
      .ChatTarget{
        @include chatText(white, 7px);
        @include upperline-box(rgb(204, 204, 204), 3px);
      }
      #send-container{
        @include inline-wrap();
        #message-input{
          @include chatText(lightgrey, 7px);
          @include noDefaultAppearance;
          border-radius: 7px;
        }
        #sendButton{
          display: inline; 
          width: 30px; 
          height: 100%;
          border-radius: 5px;
          background-color: #2e99eb;
          cursor: pointer;
        }
      }
    }
}