* {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: black;
}

body {
  background: #C8A2C8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 5px;
}

.content-wrap {
  background: #8ac4f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

#can {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 800px;
}

#can .user-name {
  margin: 5px;
  text-align: center;
}

#can canvas {
  border-style: double;
  border-width: 5px;
  border-color: white;
  background-image: url("https://wallpapercave.com/dwp2x/wp4785026.jpg");
  background-size: cover;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: solid;
  border-color: black;
}

.main-menu #setBackground {
  padding: 5px;
  background-color: white;
}

.text-chat-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

.text-chat-room .showmsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-chat-room .showmsg .topic {
  padding: 5px;
  background-color: #dfdfdf;
  border-bottom-color: grey;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  width: calc(100% - 10px);
  text-align: center;
}

.text-chat-room .showmsg div[class^='msg'], .text-chat-room .showmsg div[class*=' msg'] {
  padding: 5px;
  background-color: palevioletred;
  border-radius: 5px;
  margin: 7px 1px 1px 1px;
}

.text-chat-room .showmsg div[class^='mymsg'], .text-chat-room .showmsg div[class*=' mymsg'] {
  padding: 5px;
  background-color: #7fb8fa;
  border-radius: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 7px 7px 0px 7px;
}

.text-chat-room .showmsg .wrapMsg {
  padding: 5px;
  background-color: #04e2e2;
  border-radius: 5px;
  margin: 3px 3px 0px 7px;
}

.text-chat-room .chatWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-chat-room .chatWrap .ChatTarget {
  padding: 7px;
  background-color: white;
  border-bottom-color: #cccccc;
  border-width: 3px 0px 0px 0px;
  border-style: solid;
}

.text-chat-room .chatWrap #send-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-chat-room .chatWrap #send-container #message-input {
  padding: 7px;
  background-color: lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  outline-color: transparent;
  outline-style: none;
  resize: none;
  border-radius: 7px;
}

.text-chat-room .chatWrap #send-container #sendButton {
  display: inline;
  width: 30px;
  height: 100%;
  border-radius: 5px;
  background-color: #2e99eb;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */